__pycache__
/build
/dist
*.spec

# app files
data00200.hfa
data00200
output-switch/01_1_5.txt
output-switch/00_TRIAL_1.txt
output-switch/03_7_EX.txt
output-switch/05_A_0.txt
output-switch/06_TRIAL_4.txt
output-switch/07_1DOT5_3.txt
output-switch/08_TRIAL_5.txt
output-switch/09_1_1.txt
output-switch/10_TRIAL_6.txt
