html {
  background-color: #f0f0f0;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.1rem;
}

header {
  margin: 1em;
  margin-bottom: 2rem;
}
.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 300px;
}

button {
  all: unset;
  padding: 1rem;
  background-image: linear-gradient(45deg, #14295b, #87aaf7);
  color: #fff;
  border: 1px solid;
  box-shadow: 0 2px 6px 0px #00000087;
  transition: box-shadow 0.3s;
}
button:hover {
  box-shadow: 0 1px 3px 0px #00000057;
}

.main {
  margin: 1rem;
}